SPOTIFY_CLIENT_ID=<your-id>
SPOTIFY_CLIENT_SECRET=<your-secret>
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback # Set same URL in Spotify dev settings
PLAYLIST_NAME="Liked Songs" # [Optional] Default playlist which is going to be downloaded if no playlist/album is provided
OUTPUT_DIR=<change-to-output-folder>
OUTPUT_FORMAT=opus # opus is smaller than mp3, nevertheless mp3 is possible as well for compatiblity
